<h2>Control Flow</h2>
<h3>IF, FOR </h3>

@if(true){
<p>Test</p>
} @else if (1===1) {
<p>Test else</p>
} @else {
<p>Test else</p>
}

@if (loadingData | async; as data) {
<ul>1
    @for(item of data;track item ){
    <li>{{ item }}</li>
    }
</ul>
} @else {
<p>Carregando...</p>
}

@for(item of loadingData| async ;track item ){
<li>{{ item }}</li>
}


<input type="text" #name>
<button (click)="addNewName(name.value)">Add name</button>

@for (item of itens; track item.name) {
<p>{{ item.name }}</p>
}